#esculturas {
background-color: rgb(4, 0, 255);
}
#contactos{
    background-color: rgb(255, 0, 0);    
}
#Gorras {
    background-color: rgb(255, 230, 0);
}
h1{
    color: black;
    
}
